<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon" />
    <title>
        大家中医
    </title>
</head>

<body>
    <div id="app">
        <div id="djzyWeb">
            
        </div>
    </div>
    <div id="mask" style="display: none;"></div>
</body>

</html>