The name is <span data-bind="text: personName"></span>
The age is<span data-bind="text: personAge"></span>
<p>
    BASIC INFO: 
    <label data-bind="text:basicInfo"></label>
</p>
<p data-bind="visible: shouldShowMessage">
    VISIBLE BBINDING: 
    You will see this message only when "shouldShowMessage" holds a true value.
</p>
<ul>


</ul>